<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target xsi:type="Console" name="logconsole" layout="${longdate} ${level} ${message}" />
        
        <target xsi:type="File" name="logfile" fileName="logs/logfile-${shortdate}.log" layout="${longdate} ${level} ${message}" />
        
        <target xsi:type="Database" name="database" connectionString="Server=MIS-07;Database=m_checklist_dev2;User Id=sa;Password=Dfgtro123;Encrypt=True;TrustServerCertificate=True;">
            <commandText>
                <![CDATA[
                INSERT INTO [dbo].[Logs]
                       ([Title]
                       ,[Author]
                       ,[Messages]
                       ,[Type]
                       ,[Create_Date])
                 VALUES
                       (@Title, @Author, @Messages, @Type, @Create_Date);
                ]]>
            </commandText>
            <parameters>
                <parameter name="@Title" layout="Log Entry" /> 
                <parameter name="@Author" layout="System" /> 
                <parameter name="@Messages" layout="${message}" /> 
                <parameter name="@Type" layout="${level}" />    
                <parameter name="@Create_Date" layout="${longdate}" /> 
            </parameters>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="database" />
    </rules>
</configuration>
