@page
@model LogsModel

<body>
    <h2>Logs</h2>

    <div class="log-container">
        @Html.Raw(Model.LogContent)
    </div>
</body>

<style>
    body {
        background-color: aliceblue;
        padding: 0;
    }
    h2 {
        color:blue;
    }
    .log-container {
        color: #1e1e1e; 
        font-family: 'Courier New', monospace; 
        padding: 20px;
        border-radius: 5px;
        word-wrap: break-word;
    }
    span {
        font-size: 12px;
        color:blue;
        font-weight: 600;
    }
    .info {
        color:#1e1e1e;
    }
</style>
